<% if @restaurants.any? %>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li>
    <ul><%= restaurant.name %></ul>
    <ul><%= restaurant.address %></ul>
    <ul><%= restaurant.cuisine %></ul>
    <ul><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></ul>
    <ul><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></ul>
    </li>

  <% end %>
  </ul>
  <% else %>
    No restaurants yet
  <% end %>
